<h1><%= t('titles.account_edit') %></h1>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render 'form' %>

    <p class="buffer-top">
      <%= link_to t('buttons.password_edit'), edit_user_registration_path %>
    </p>
  </div>
</div>
