<% unless @photos.empty? %>
  <%= content_tag(:h1, t('titles.events_sample'), class: 'fw-light text-dark text-center my-4') %>

  <div class="event-photos-gallery shadow">       
        <!-- Carousel -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner rounded">
        <%= render partial: 'photos/collection', collection: @photos, as: :photo %>
      </div>
    </div>
  </div>
<% end %>

<%= content_tag(:h2, t('titles.events_all'), class: 'fw-light fs-1 text-dark text-center my-4 border-top pt-2') %>

<div class="row text-center">
  <%= render partial: 'events/event', collection: @events %>
</div>
