<% image_title = "#{t('.add')} #{render partial: 'users/user', object: photo.user}" %>

<% if current_user_can_edit?(photo) %>
  <% delete_icon = link_to(fa_icon(class: 'trash', color: 'Tomato'), event_photo_path(photo.event, photo), method: :delete, data: {confirm: t('.are_you_sure')}) %>
  <% image_title << delete_icon %>
<% end %>

<div class="carousel-item <%= 'active' if photo_iteration.first? %>">
  <%= link_to image_tag(photo.photo.url, class: 'd-block w-100', style: 'object-fit: cover;', height: '300px'), photo.photo.url, data: {lightbox: 'roadtrip', title: image_title, alt: 'photo'} %>
</div>
