<% image_title = "#{t('.add')} #{render partial: 'users/user', object: photo.user}" %>

<% if current_user_can_edit?(photo) %>
  <% delete_icon = link_to(fa_icon('trash'), event_photo_path(photo.event, photo), method: :delete, data: {confirm: t('.are_you_sure')}) %>
  <% image_title << delete_icon %>
<% end %>

<div class="event-photo buffer-both">
  <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url, data: {lightbox: 'roadtrip', title: image_title, alt: 'photo'} %>

  <%= t('.add') %>
  <%= render partial: 'users/user', object: photo.user %>
</div>
