@import 'bootstrap';
@import 'events';
@import 'lightbox';


html {
  height: 100%;
}

/* Buffers */
.buffer-top {
  margin-top: 20px;
}

.buffer-bottom {
  margin-bottom: 20px;
}

.buffer-both {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown-sm {
  min-width: 7.5rem;
}
/* Avatars for users & events */
.avatar {
  border-radius: 100%;
  max-width: 300px;
}

.avatar-event {
  border-radius: 100%;
  width: 190px;
}

.img-icon, .img-icon-small {
  height: 70px;
  width: auto;
  border-radius: 50%;
}

.user-avatar .img-icon {
  margin-top: -2px;
  height: 20px;
}

.img-menu {
  height: 25px;
  border-radius: 50%;
}

/* Thumbnails for events/index */
.thumbnail {
  position: relative;
  background: transparent;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}

.thumbnail h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: .3em;
}

.thumbnail-inner {
  padding: 10px 4px 4px;
}
